# mac

.DS_Store

# node.js

lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
.grunt

node_modules

# bower

public/lib

# LESS

style.css

# uploaded files
# change this location via settings.json

upload

# judges system files

program/problem_data
program/sandbox

log
program/log
exec.sh
pdp_judge_user_config

