<div ng-controller="HomeworkCtrl">
    <h3>Homework</h3>
    <div class="loading" ng-show="loading">
        <img src="/images/indicator.gif" alt="loading" width="33" height="33" />
    </div>
    <div class="pure-g-r" ng-hide="loading">
        <div class="pure-u-1-5 grid-master">
            <div class="pure-menu pure-menu-open">
                <ul>
                    <li ng-repeat="hw in hws" ng-class="{ 'pure-menu-selected' : hw.active }">
                        <a ui-sref=".detail({ hwid: hw._id })">{{ hw.title }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pure-u-4-5 grid-detail" ui-view>
        </div>
    </div>
</div>