<form class="pdp-form pure-form pure-form-stacked" name="psForm">
    <fieldset>
        <legend>Submit Your Answer</legend>
        <div class="submitted-file" ng-show="submission">
            <label>File (Uploaded)</label>
            <a href="{{ submission.filePath }}">File</a>
        </div>
        <label for="file">Upload File</label>
        <input type="file" name="file" id="file" />
        <button ng-click="upload()" class="pure-button button-save">Upload</button>
    </fieldset>
</form>