<div ng-controller="ProblemCtrl">
    <h3>Problems</h3>
    <div class="loading" ng-show="loading">
        <img src="/images/indicator.gif" alt="loading" width="33" height="33" />
    </div>
    <div class="pure-g-r" ng-hide="loading">
        <div class="pure-u-1-5 grid-master">
            <div class="pure-menu pure-menu-open">
                <ul>
                    <li ng-repeat="problem in problems" ng-class="{ 'pure-menu-selected' : problem.active }">
                        <a ui-sref=".detail.overview({ pid: problem._id })">{{ problem.title }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pure-u-4-5 grid-detail" ui-view>
        </div>
    </div>
</div>