<div class="loading" ng-show="loading">
    <img src="/images/indicator.gif" alt="loading" width="33" height="33" />
</div>
<div ng-hide="loading">
    <h3>{{ detailProblem.title }}</h3>
    <p>{{ detailProblem.description }}</p>
    <h3>Sample Input</h3>
    <p>{{ detailProblem.sampleInput }}</p>
    <h3>Sample Output</h3>
    <p>{{ detailProblem.sampleOutput }}</p>
    <h4>File</h4>
    <a href="{{ detailProblem.manualFilePath }}">File</a>
    <form class="pdp-form pure-form pure-form-stacked" name="psForm">
        <fieldset>
            <legend>Submit Your Answer</legend>
            <div class="submitted-file" ng-show="submission">
                <label>File (Uploaded)</label>
                <a href="{{ submission.filePath }}">File</a>
            </div>
            <label for="file">Upload File</label>
            <input type="file" name="file" id="file" />
            <button ng-click="upload()" class="pure-button button-save">Upload</button>
        </fieldset>
    </form>
</div>