<% include header %>
<div ng-app="app" class="main">
    <div ui-view></div>
</div>
<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="/lib/lodash/dist/lodash.underscore.min.js"></script>
<script type="text/javascript" src="/lib/restangular/dist/restangular.min.js"></script>
<script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="/javascripts/pdp-resource.js"></script>
<script type="text/javascript" src="/javascripts/app.js"></script>
<% if (locals.user.admin) { %>
<script type="text/javascript" src="/javascripts/app-admin.js"></script>
<% } else { %>
<script type="text/javascript" src="/javascripts/app-students.js"></script>
<% } %>
<% include footer %>