<% include header %>
<div ng-app="app" class="main">
    <div ng-view></div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-resource.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.min.js"></script>
<script type="text/javascript" src="/javascripts/pdp-resource.js"></script>
<script type="text/javascript" src="/javascripts/app.js"></script>
<% if (locals.user.admin) { %>
<script type="text/javascript" src="/javascripts/app-admin.js"></script>
<% } else { %>
<script type="text/javascript" src="/javascripts/app-students.js"></script>
<% } %>
<% include footer %>