<a href="javascript:void(0)" id="menu-toggle" class="menu-toggle fa fa-bars"></a>
<div id="menu" class="menu">
    <ul>
        <li><a href="#/homework" class="item">Homework</a></li>
        <li><a href="#/problem" class="item">Problems</a></li>
        <li><a href="#/cross-gradings" class="item">Cross Gradings</a></li>
        <li><a href="#/settings" class="item fa fa-gear"></a></li>
        <li><a href="/logout" class="item">Logout</a></li>
    </ul>
</div>