<div ng-controller="SettingsCtrl">
    <h3>Settings</h3>
    <ul class="settings">
        <li>
            <label>Email</label>
            <div>
                <strong>{{ user.email }}</strong>
            </div>
        </li>
        <li>
            <label>Nickname</label>
            <div>
                <strong ng-hide="editing">{{ user.nickname }}</strong>
                <form ng-show="editing">
                    <input type="text" ng-model="nickname" />
                    <button ng-click="submit()" class="pure-button button-save">Save</button>
                    <button ng-click="edit()" class="pure-button button-cancel">Cancel</button>
                </form>
                <button ng-click="edit()" class="pure-button button-edit" ng-hide="editing">Edit</button>
            </div>
        </li>
        <li ng-show="user.team">
            <label>Team {{ user.team._id }}</label>
            <div><strong>{{ user.team.name }}</strong></div>
        </li>
    </ul>
    <h3>Copyrights</h3>
    <ul class="settings">
        <li>
            <label>Website Source</label>
            <div>
                <a href="https://github.com/teaualune/pdp-site">https://github.com/teaualune/pdp-site</a>
            </div>
        </li>
        <li>
            <label>Image Sources</label>
            <div>
                <a href="http://www.pixiv.net/member.php?id=5278692">ぬー。</a>
            </div>
        </li>
    </ul>
</div>