body {
  padding: 0;
  margin: 0;
  color: #0b1013;
  background-color: #fffffb;
}
a {
  color: #48b2dc;
  text-decoration: none;
}
h3 {
  margin: 0;
}
ul {
  background-color: #0b1013;
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: block;
}
.header {
  color: #fffffb;
  background-color: #0b1013;
  position: relative;
  line-height: 1.2em;
}
.header h3 {
  display: inline-block;
  font-size: 1.2em;
  padding: 20px;
}
.header a:hover {
  background-color: #434343;
}
.settings-menu {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 0;
  text-align: center;
}
.settings-menu.on {
  display: block;
}
.settings-menu .item {
  display: inline-block;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.alert {
  margin: 20px auto 0;
  padding: 6px;
  width: 60%;
  background-color: #f596aa;
  color: #cb1b45;
  border-radius: 5px;
}
.main {
  padding: 20px;
}
.settings {
  float: right;
  padding: 20px;
  font-size: 1.2em;
}
.pure-form .pure-control-group {
  margin-bottom: 1em;
}
.pure-form .pure-controls {
  margin: 0 0 20px 11em;
}
.pure-form .pure-control-group input,
.pure-form .pure-control-group label,
.pure-form .pure-control-group select {
  line-height: 1.2em;
  font-size: 1em;
}
.pure-form .pure-control-group textarea {
  font-size: 1em;
  resize: none;
}
.pure-button {
  color: #fffffb;
}
.button-add {
  background-color: #005caf;
}
.button-edit {
  background-color: #6e75a4;
}
.button-delete {
  background-color: #cb1b45;
}
.button-save {
  background-color: #227d51;
}
.button-cancel {
  background-color: #828282;
}
@media (max-width: 480px) {
  .pure-form .pure-controls {
    margin: 0 0 20px;
  }
}
