@color-white: #fffffb;
@color-dark-white: #fcfaf2;
@color-black: #0b1013;
@color-grey: #434343;
@color-light-grey: #cbcbcb;
@color-link: #48b2dc;
@color-alert: #cb1b45;
@color-alert-dark: #f596aa;
@color-button-primary: #005caf;
@color-button-secondary: #6e75a4;
@color-button-safe: #227d51;
@color-button-danger: @color-alert;
@color-button-cancel: #828282;

@padding-base: 20px;
@padding-small: 10px;

@line-height-normal: 1em;
@line-height-tall: 1.2em;
@line-height-short: 0.5em;

@pdp-form-full-width: 100%;
@pdp-form-input-full-width: 55%;

body {
    padding: 0;
    margin: 0;
    color: @color-black;
    background-color: @color-white;
}

a {
    color: @color-link;
    text-decoration: none;
}

h3, h4 {
    margin: 0 0 @padding-base;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.loading {
    text-align: center;
    margin: @padding-base * 2 auto;
}

.header {
    color: @color-white;
    background-color: @color-black;
    position: relative;
    line-height: @line-height-tall;

    h3 {
        font-size: @line-height-tall;
        line-height: @line-height-tall;
        padding: @padding-base;
        margin: 0;
    }

    ul {
        background-color: @color-black;
    }

    li {
        display: inline-block;
    }

    a:hover {
        background-color: @color-grey;
    }

}

.menu-toggle {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: @padding-base;
    font-size: @line-height-tall;
}

.menu {
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;

    &.on {
        display: block;
    }

    .item {
        display: inline-block;
        width: 100%;
        line-height: @line-height-tall;
        padding: @padding-base;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

}

.alert {
    margin: @padding-base auto 0;
    padding: 6px;
    width: 60%;
    background-color: @color-alert-dark;
    color: @color-alert;
    border-radius: 5px;
}

.main {
    padding: @padding-base;
}

.pure-form {
    .pure-controls {
        margin: 0 0 @padding-base 11em;
    }

    .pure-control-group {
        margin-bottom: @line-height-normal;

        input, label {
            line-height: @line-height-tall;
            font-size: @line-height-normal;
        }

        textarea {
            font-size: @line-height-normal;
            resize: none;
        }

        input, textarea {
            &[readonly] {
                background: transparent;
                color: inherit;
                border: 1px solid transparent;
                box-shadow: none;
            }
        }
    }
}

.pure-button {
    color: @color-white;
}

.button-add {
    background-color: @color-button-primary;
}

.button-edit {
    background-color: @color-button-secondary;
}

.button-delete {
    background-color: @color-button-danger;
}

.button-save {
    background-color: @color-button-safe;
}

.button-cancel {
    background-color: @color-button-cancel;
}

.pure-menu {
    a {
        color: @color-grey;
    }

    li a:hover, .pure-menu-selected a {
        color: @color-black;
        background: @color-light-grey;
        white-space: normal;
    }

    &.pure-menu-open {
        background: @color-dark-white;
        border: 1px solid @color-light-grey;
    }
}
.detail-nav {
    margin-bottom: @padding-base;
}

.settings {
    padding-left: @padding-base;

    label {
        display: inline-block;
        width: 6em;
    }

    strong {
        margin-right: 3em;
    }

    div {
        display: inline-block;
    }

    li {
        margin: @padding-base auto;
    }
}

.pdp-form {
    width: @pdp-form-full-width;

    input, textarea {
        width: @pdp-form-input-full-width;
        margin: @padding-base 0;
    }

    input[type='checkbox'] {
        width: auto;
    }

    .submitted-file {
        margin: @padding-base 0;
    }
}

.grid-detail {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 @padding-base;

    p {
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        white-space: pre-wrap;
        word-wrap: break-word;
    }
}

.grading {
    margin: @padding-base 0;
}

.expired {
    color: @color-alert;
}

.form-control-handle {
    text-align: right;
}

.pdp-table {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    border: 1px solid @color-light-grey;

    h4 {
        margin: 0 0 @line-height-short;
    }

    table {
        width: 100%;
        max-width: 100%;
        border: 0;
    }
}

.team-block {
    padding: @padding-small;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    h4 {
        text-align: center;
    }

    ul {
        border: 1px solid @color-light-grey;
        min-height: 100px;
        width: 100%;
    }

    li {
        padding: @padding-small;
    }
}

@media (max-width: 767px) {
    .header {
        z-index: 2;

        h3 {
            text-align: center;
        }
    }

    .menu-toggle {
        display: inline-block;
    }

    .menu {
        display: none;
        right: 0;
        top: auto;
        bottom: 0;
        height: 0;

        li {
            display: block;
        }

        .item {
            padding: @padding-base;
        }
    }

    .pdp-form {
        width: 100%;

        input, textarea {
            width: @pdp-form-full-width * @pdp-form-input-full-width / 100;
        }
    }

    .grid-detail {
        padding: @padding-base 0;
    }

    .settings {
        label {
            margin: @padding-base 0;
        }

        div {
            display: block;
        }

        li {
            margin: @padding-base auto;
        }
    }

    .beacons-table {
        width: inherit;
        margin-left: -@padding-base;
        margin-right: -@padding-base;
        border-left: 0;
        border-right: 0;
    }
}

@media (max-width: 480px) {
    .pure-form .pure-controls {
        margin: 0 0 @padding-base;
    }

    .pdp-form {
        input, textarea {
            width: 100%;
        }
    }

    .grid-detail {
        .pure-menu {
            ul, li {
                display: block;
            }

            a {
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                width: 100%;
                text-align: center;
            }
        }
    }
}
