@color-white: #fffffb;
@color-black: #0b1013;
@color-grey: #434343;
@color-link: #48b2dc;
@color-alert: #cb1b45;
@color-alert-dark: #f596aa;
@color-button-primary: #005caf;
@color-button-secondary: #6e75a4;
@color-button-safe: #227d51;
@color-button-danger: @color-alert;
@color-button-cancel: #828282;

@padding-base: 20px;
@padding-small: 10px;

@line-height-tall: 1.2em;

body {
    padding: 0;
    margin: 0;
    color: @color-black;
    background-color: @color-white;
}

a {
    color: @color-link;
    text-decoration: none;
}

h3 {
    margin: 0;
}

ul {
    background-color: @color-black;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: block;
}

.header {
    color: @color-white;
    background-color: @color-black;
    position: relative;
    line-height: @line-height-tall;

    h3 {
        display: inline-block;
        font-size: @line-height-tall;
        padding: @padding-base;
    }

    a:hover {
        background-color: @color-grey;
    }

}

.settings-menu {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 0;
    text-align: center;

    &.on {
        display: block;
    }

    .item {
        display: inline-block;
        width: 100%;
        padding: @padding-base;
        box-sizing: border-box;
    }

}

.alert {
    margin: @padding-base auto 0;
    padding: 6px;
    width: 60%;
    background-color: @color-alert-dark;
    color: @color-alert;
    border-radius: 5px;
}

.main {
    padding: @padding-base;
}

.settings {
    float: right;
    padding: @padding-base;
    font-size: 1.2em;
}

.pure-form {
    .pure-control-group {
        margin-bottom: 1em;
    }

    .pure-controls {
        margin: 0 0 @padding-base 11em;
    }

    .pure-control-group {
        input, label, select {
            line-height: @line-height-tall;
            font-size: 1em;
        }

        textarea {
            font-size: 1em;
            resize: none;
        }
    }
}

.pure-button {
    color: @color-white;
}

.button-add {
    background-color: @color-button-primary;
}

.button-edit {
    background-color: @color-button-secondary;
}

.button-delete {
    background-color: @color-button-danger;
}

.button-save {
    background-color: @color-button-safe;
}

.button-cancel {
    background-color: @color-button-cancel;
}

@media (max-width: 767px) {
}

@media (max-width: 480px) {
    .pure-form .pure-controls {
        margin: 0 0 @padding-base;
    }
}
