<div class="loading" ng-show="loading">
    <img src="/images/indicator.gif" alt="loading" width="33" height="33" />
</div>
<form class="pdp-form pure-form pure-form-aligned" name="hwForm" ng-hide="loading">
    <div class="detail-nav pure-menu pure-menu-open pure-menu-horizontal"><ul>
        <li class="pure-menu-selected"><a ui-sref="homework.detail({ hwid: hwid })">Overview</a></li>
        <li><a ui-sref="homework.stat({ hwid: hwid })">Status</a></li>
        <li><a ui-sref="homework.crossgrading({ hwid: hwid })">Cross Grading</a></li>
    </ul></div>
    <fieldset>
        <div class="pure-control-group">
            <label for="title">* Title</label>
            <input type="text" name="title" ng-model="detailHW.title" required ng-readonly="!editing" />
        </div>
        <div class="pure-control-group">
            <label for="description">* Description</label>
            <textarea rows="10" name="description" ng-model="detailHW.description" required ng-readonly="!editing"></textarea>
        </div>
        <div class="pure-control-group" ng-show="(detailHW.manualFilePath != '' && !editing) || !editingNew">
            <label>File<br />(Uploaded)</label>
            <a href="{{ detailHW.manualFilePath }}">File</a>
        </div>
        <div class="pure-control-group" ng-show="editing">
            <label for="file">Upload File</label>
            <input type="file" name="file" id="file" />
        </div>
        <div class="pure-controls">
            <button ng-click="save()" ng-show="editing" ng-disabled="hwForm.$invalid" class="pure-button button-save">Save</button>
            <button ng-click="edit()" ng-show="editing && !editingNew" class="pure-button button-cancel">Cancel</button>
            <button ng-click="destroy()" ng-show="editing && !editingNew" class="pure-button button-delete">Delete</button>
            <button ng-click="edit()" ng-hide="editing || editingNew" class="pure-button button-edit">Edit</button>
        </div>
    </fieldset>
</form>