<div class="loading" ng-show="loading">
    <img src="/images/indicator.gif" alt="loading" width="33" height="33" />
</div>
<div ng-hide="loading">
    <div class="detail-nav pure-menu pure-menu-open pure-menu-horizontal"><ul>
        <li><a ui-sref="homework.detail({ hwid: hwid })">Overview</a></li><!--
     --><li><a ui-sref="homework.stat({ hwid: hwid })">Status</a></li>
        <li class="pure-menu-selected"><a ui-sref="homework.crossgrading({ hwid: hwid })">Cross Grading</a></li>
    </ul></div>
</div>