<h3>Submission Stats</h3>
<h4>Submits/Students:&nbsp;{{ submitsCount }}/{{ submissions.length }}</h4>
<div class="pdp-table">
    <table class="pure-table pure-table-striped">
        <thead><tr>
            <th>Students</th>
            <th>Submission Status</th>
        </tr></thead>
        <tbody><tr ng-repeat="sub in submissions">
            <th>
                <h4>{{ sub.author.nickname }}</h4>{{ sub.author.email }}
            </th>
            <th>
                <span ng-if="sub.submission">File: <a href="{{ sub.submission.filePath }}">Download</a></span>
                <span ng-if="!sub.submission">Not submitted yet</span>
            </th>
        </tr></tbody>
    </table>
</div>